<ngb-alert *ngIf="alerta.mostrarAlerta" [type]="alerta.tipoDeAlerta" 
(closed)="alerta.mostrarAlerta = false">{{ alerta.mensajeAlerta }}</ngb-alert>   

<div class="container">
    <div class="logo">Login</div>
    <div class="login-item">
        <form [formGroup]="loginForm"  class="form form-login">
            <div class="form-field">
            <label class="user" for="login-username"><span class="hidden">Username</span></label>
            <input id="login-username" type="text" formControlName="usuario_form"
                class="form-input" placeholder="Username" >
            </div>

            <div class="form-field">
            <label class="lock" for="login-password"><span class="hidden">Password</span></label>
            <input id="login-password" type="password" formControlName="contrasenia_form"
            class="form-input" placeholder="Password" >
            </div>

            <div class="form-field">
            <input type="submit" 
            (click)="iniciarSesion()" value="Iniciar sesión">
            </div>
        </form>
        
    </div>
</div>